
{% macro m_url(base_url, path, path2=none) -%}
 {{ _url(base_url,path=path,segment_id=path2) }}
{%- endmacro %}




{% macro _url(home_url, path=none, segment_id=none) -%}
  {%- set home = (home_url.strip().rstrip('/')) -%}
  {%- set p_path = (path.strip().strip('/')) if path is not none and (path.strip()) != '' else none -%}
  
  {%- set s_id = (segment_id.strip()) if segment_id is not none and (segment_id.strip()) != '' else none -%}
  {%- if s_id and not s_id.startswith('#') -%}{%- set s_id = '#' ~ s_id -%}
  {%- endif -%}
  {%- if p_path and s_id -%}{{- home ~ '/' ~ p_path ~ s_id -}}
  {%- elif p_path -%}{{- home ~ '/' ~ p_path -}}
  {%- elif s_id -%}{{- home ~ s_id -}}
  {%- else -%}{{- home -}}
  {%- endif -%}
{%- endmacro %}
