page Not as blogpost

pillar Page 



{
"@type": "WebPage","@id": "{{ pillar_url }}/#webpage",
"url": "{{ pillar_url }}","name": "{{ pillar_title }}",
"description": "{{ pillar_meta_description }}",
"isPartOf": {"@id": "{{ site_url }}/#website"},
"breadcrumb": {"@id": "{{ pillar_url }}/#breadcrumb"}
},


{
"@type": "BreadcrumbList","@id": "{{ pillar_url }}/#breadcrumb",
"itemListElement": [
{
"@type": "ListItem","position": 1,
"name": "Home","item": "{{ site_url }}/"
},{
"@type": "ListItem","position": 2,
"name": "{{ pillar_title }}"
}
]
},

{
"@type": "ItemList","@id": "{{ pillar_url }}/#cluster-list",
"name": "{{ pillar_title }} Semantic Topic Hub Cluster","description": "Direct supporting resources linked to this core cornerstone topic hub.",
"numberOfItems": "{{ cluster_pages | length }}",
"itemListElement": [
{% for sub_page in cluster_pages %}
{
"@type": "ListItem","position": {{ loop.index }},
"name": "{{ sub_page.title }}","item": "{{ sub_page.url }}"
}{% if not loop.last %},{% endif %}
{% endfor %}
]
}




sub pillar page 




{
"@type": "WebPage","@id": "{{ sub_pillar_url }}/#webpage",
"url": "{{ sub_pillar_url }}","name": "{{ sub_pillar_title }}",
"description": "{{ sub_pillar_meta_description }}",
"isPartOf": {"@id": "{{ site_url }}/#website"},
"breadcrumb": {"@id": "{{ sub_pillar_url }}/#breadcrumb"},
"mainEntityOfPage": {
"@type": "WebPage","@id": "{{ pillar_parent_url }}/#webpage",
"name": "{{ pillar_parent_title }}"
}
},

{
"@type": "BreadcrumbList","@id": "{{ sub_pillar_url }}/#breadcrumb",
"itemListElement": [
{
"@type": "ListItem","position": 1,
"name": "Home","item": "{{ site_url }}/"
},{
"@type": "ListItem","position": 2,
"name": "{{ pillar_parent_title }}","item": "{{ pillar_parent_url }}"
},{
"@type": "ListItem","position": 3,
"name": "{{ sub_pillar_title }}"
}
]
},

{
"@type": "ItemList","@id": "{{ sub_pillar_url }}/#sub-cluster-list",
"name": "{{ sub_pillar_title }} Deep Supporting Silo Cluster","description": "Granular child guides managed under this specialized sub-pillar.",
"numberOfItems": "{{ sub_cluster_pages | length }}",
"itemListElement": [
{% for sub_page in sub_cluster_pages %}
{
"@type": "ListItem","position": {{ loop.index }},
"name": "{{ sub_page.title }}","item": "{{ sub_page.url }}"
}{% if not loop.last %},{% endif %}
{% endfor %}
]
}







cluster page

{
"@type": "WebPage","@id": "{{ cluster_url }}/#webpage",
"url": "{{ cluster_url }}","name": "{{ cluster_title }}",
"description": "{{ cluster_meta_description }}",
"isPartOf": {"@id": "{{ site_url }}/#website"},
"breadcrumb": {"@id": "{{ cluster_url }}/#breadcrumb"},
"mainEntityOfPage": {
"@type": "WebPage","@id": "{{ pillar_parent_url }}/#webpage",
"name": "{{ pillar_parent_title }}"
}
},

{
"@type": "BreadcrumbList","@id": "{{ cluster_url }}/#breadcrumb",
"itemListElement": [
{
"@type": "ListItem","position": 1,
"name": "Home","item": "{{ site_url }}/"
},{
"@type": "ListItem","position": 2,
"name": "{{ pillar_parent_title }}","item": "{{ pillar_parent_url }}"
},{
"@type": "ListItem","position": 3,
"name": "{{ cluster_title }}"
}
]
}
  


sub cluster page


{
"@type": "WebPage","@id": "{{ sub_cluster_url }}/#webpage",
"url": "{{ sub_cluster_url }}","name": "{{ sub_cluster_title }}",
"description": "{{ sub_cluster_meta_description }}",
"isPartOf": {"@id": "{{ site_url }}/#website"},
"breadcrumb": {"@id": "{{ sub_cluster_url }}/#breadcrumb"},
"mainEntityOfPage": {
"@type": "WebPage","@id": "{{ cluster_parent_url }}/#webpage",
"name": "{{ cluster_parent_title }}"
}
},

{
"@type": "BreadcrumbList","@id": "{{ sub_cluster_url }}/#breadcrumb",
"itemListElement": [
{
"@type": "ListItem","position": 1,
"name": "Home","item": "{{ site_url }}/"
},{
"@type": "ListItem","position": 2,
"name": "{{ pillar_root_title }}","item": "{{ pillar_root_url }}"
},{
"@type": "ListItem","position": 3,
"name": "{{ cluster_parent_title }}","item": "{{ cluster_parent_url }}"
},{
"@type": "ListItem","position": 4,
"name": "{{ sub_cluster_title }}"
}
]
}
  

















___________________________________________________
page as blog post too


pilla page



{
"@type": "WebPage","@id": "{{ pillar_url }}/#webpage",
"url": "{{ pillar_url }}","name": "{{ pillar_title }}",
"description": "{{ pillar_meta_description }}",
"isPartOf": {"@id": "{{ site_url }}/#website"},
"breadcrumb": {"@id": "{{ pillar_url }}/#breadcrumb"},
"hasPart": [
{% for sub_page in cluster_pages %}
{ "@id": "{{ sub_page.url }}/#webpage" }{% if not loop.last %},{% endif %}
{% endfor %}
],
"mainEntity": {
"@type": "BlogPosting","@id": "{{ pillar_url }}/#blogposting",
"headline": "{{ pillar_title }}","description": "{{ pillar_meta_description }}",
"datePublished": "{{ date_published }}","dateModified": "{{ date_modified }}",
"wordCount": "{{ pillar_word_count }}",
"publisher": { "@id": "{{ site_url }}/#organization" },

"about": [
{"@type": "Thing","name": "{{ primary_topic_name }}",
"sameAs": "{{ primary_topic_wikipedia_url }}"
}
],
"mentions": [
{"@type": "Thing","name": "{{ core_sub_topic_name }}",
"sameAs": "{{ core_sub_topic_wikipedia_url }}"
}
],
"author": { "@id": "{{ site_url }}/#organization" }
{% if pillar_image %}, "image": ["{{ pillar_image }}"]{% endif %}
}
},

{
"@type": "BreadcrumbList","@id": "{{ pillar_url }}/#breadcrumb",
"itemListElement": [
{ "@type": "ListItem", "position": 1, "name": "Home", "item": "{{ site_url }}" },
{ "@type": "ListItem", "position": 2, "name": "{{ pillar_title }}" }
]
}






Sub-Pillar page 



{
"@type": "WebPage","@id": "{{ sub_pillar_url }}/#webpage",
"url": "{{ sub_pillar_url }}","name": "{{ sub_pillar_title }}",
"description": "{{ sub_pillar_meta_description }}",
"isPartOf": {"@id": "{{ pillar_parent_url }}/#webpage"},
"breadcrumb": {"@id": "{{ sub_pillar_url }}/#breadcrumb"},
"hasPart": [
{% for sub_page in sub_cluster_pages %}
{ "@id": "{{ sub_page.url }}/#webpage" }{% if not loop.last %},{% endif %}
{% endfor %}
],
"mainEntity": {
"@type": "BlogPosting","@id": "{{ sub_pillar_url }}/#blogposting",
"headline": "{{ sub_pillar_title }}","description": "{{ sub_pillar_meta_description }}",
"datePublished": "{{ date_published }}","dateModified": "{{ date_modified }}",
"wordCount": "{{ pillar_word_count }}",
"publisher": { "@id": "{{ site_url }}/#organization" },
"author": { "@id": "{{ site_url }}/#organization" },

"about": [
          {
            "@type": "Thing",
            "name": "{{ sub_pillar_topic_name }}",
            "sameAs": "{{ sub_pillar_topic_wikipedia_url }}"
          }
        ],
        "mentions": [
          {
            "@type": "Thing",
            "name": "{{ secondary_topic_name }}",
            "sameAs": "{{ secondary_topic_wikipedia_url }}"
          }
        ]

}
},

{
"@type": "BreadcrumbList","@id": "{{ sub_pillar_url }}/#breadcrumb",
"itemListElement": [
{ "@type": "ListItem", "position": 1, "name": "Home", "item": "{{ site_url }}" },
{ "@type": "ListItem", "position": 2, "name": "{{ pillar_parent_title }}", "item": "{{ pillar_parent_url }}" },
{ "@type": "ListItem", "position": 3, "name": "{{ sub_pillar_title }}" }
]
}






cluster page 


{
"@type": "WebPage","@id": "{{ cluster_url }}/#webpage",
"url": "{{ cluster_url }}","name": "{{ cluster_title }}",
"description": "{{ cluster_meta_description }}",
"isPartOf": {"@id": "{{ pillar_parent_url }}/#webpage"},
"breadcrumb": {"@id": "{{ cluster_url }}/#breadcrumb"},
"hasPart": [
{% for leaf_page in sub_cluster_pages %}
{ "@id": "{{ leaf_page.url }}/#webpage" }{% if not loop.last %},{% endif %}
{% endfor %}
],
"mainEntity": {
"@type": "BlogPosting","@id": "{{ cluster_url }}/#blogposting",
"headline": "{{ cluster_title }}","description": "{{ cluster_meta_description }}",
"datePublished": "{{ date_published }}","dateModified": "{{ date_modified }}",
"wordCount": "{{ pillar_word_count }}",
"publisher": { "@id": "{{ site_url }}/#organization" },
"author": { "@id": "{{ site_url }}/#organization" },

"about": [
          {
            "@type": "Thing",
            "name": "{{ cluster_topic_name }}",
            "sameAs": "{{ cluster_topic_wikipedia_url }}"
          }
        ],
        "mentions": [
          {
            "@type": "Thing",
            "name": "{{ cluster_mention_name }}",
            "sameAs": "{{ cluster_mention_wikipedia_url }}"
          }
        ]
}
},

{
"@type": "BreadcrumbList","@id": "{{ cluster_url }}/#breadcrumb",
"itemListElement": [
{ "@type": "ListItem", "position": 1, "name": "Home", "item": "{{ site_url }}" },
{ "@type": "ListItem", "position": 2, "name": "{{ pillar_parent_title }}", "item": "{{ pillar_parent_url }}" },
{ "@type": "ListItem", "position": 3, "name": "{{ cluster_title }}" }
]
}



sub cluster page 


{
"@type": "WebPage","@id": "{{ sub_cluster_url }}/#webpage",
"url": "{{ sub_cluster_url }}","name": "{{ sub_cluster_title }}",
"description": "{{ sub_cluster_meta_description }}",
"isPartOf": {"@id": "{{ parent_container_url }}/#webpage"},
"breadcrumb": {"@id": "{{ sub_cluster_url }}/#breadcrumb"},
"mainEntity": {
"@type": "BlogPosting","@id": "{{ sub_cluster_url }}/#blogposting",
"headline": "{{ sub_cluster_title }}","description": "{{ sub_cluster_meta_description }}",
"datePublished": "{{ date_published }}","dateModified": "{{ date_modified }}",
"wordCount": "{{ pillar_word_count }}",
"publisher": { "@id": "{{ site_url }}/#organization" },

"about": [
          {
            "@type": "Thing",
            "name": "{{ leaf_topic_name }}",
            "sameAs": "{{ leaf_topic_wikipedia_url }}"
          }
        ],
        "mentions": [
          {
            "@type": "Thing",
            "name": "{{ leaf_mention_name }}",
            "sameAs": "{{ leaf_mention_wikipedia_url }}"
          }
        ]

"author": { "@id": "{{ site_url }}/#organization" }
{% if article_image %}, "image": ["{{ article_image }}"]{% endif %}
{% if date_published %}, "datePublished": "{{ date_published }}"{% endif %}
{% if date_modified %}, "dateModified": "{{ date_modified }}"{% endif %}
}
},

{
"@type": "BreadcrumbList","@id": "{{ sub_cluster_url }}/#breadcrumb",
"itemListElement": [
{ "@type": "ListItem", "position": 1, "name": "Home", "item": "{{ site_url }}" },
{ "@type": "ListItem", "position": 2, "name": "{{ pillar_root_title }}", "item": "{{ pillar_root_url }}" },
{ "@type": "ListItem", "position": 3, "name": "{{ cluster_parent_title }}", "item": "{{ cluster_parent_url }}" },
{ "@type": "ListItem", "position": 4, "name": "{{ sub_cluster_title }}" }
]
}




____________________________________________




Page 10 (Pillar Page Hub)

{% import 'macros/schema_core.html' as core %}

{% call core.graph_wrapper() %}
  {# 1. Master Pillar Page Block #}
  {% call core.entity_base("WebPage", id=core.get_id(pillar_url, 'webpage'), name=pillar_title, description=pillar_meta_description, url=pillar_url) %}
    {{ core.is_part_of("WebSite", core.get_id(site_url, 'website')) }}
    {{ core.kv("breadcrumb", {"@id": core.get_id(pillar_url, 'breadcrumb')}, is_json=true) }}
  {% endcall %},

  {# 2. Core Pillar Breadcrumb Path #}
  {% call core.entity_base("BreadcrumbList", id=core.get_id(pillar_url, 'breadcrumb')) %}
    , "itemListElement": [
      {{ core.list_item(1, "Home", site_url) }},
      {{ core.list_item(2, pillar_title) }}
    ]
  {% endcall %},

  {# 3. Supporting Topic Cluster ItemList Registry #}
  {% call core.entity_base("ItemList", id=core.get_id(pillar_url, 'cluster-list'), name=pillar_title ~ " Semantic Topic Hub Cluster", description="Direct supporting resources linked to this core cornerstone topic hub.") %}
    {{ core.kv("numberOfItems", cluster_pages | length) }}
    , "itemListElement": [
      {% for sub_page in cluster_pages %}
      {
        "@type": "ListItem",
        "position": {{ loop.index }},
        "name": {{ sub_page.title | tojson }},
        "item": {{ sub_page.url | tojson }}
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  {% endcall %}
{% endcall %}


Page 11 (Sub-Pillar Page Hub)

{% import 'macros/schema_core.html' as core %}

{% call core.graph_wrapper() %}
  {# 1. WebPage Content Block #}
  {% call core.entity_base("WebPage", id=core.get_id(sub_pillar_url, 'webpage'), name=sub_pillar_title, description=sub_pillar_meta_description, url=sub_pillar_url) %}
    {{ core.is_part_of("WebSite", core.get_id(site_url, 'website')) }}
    {{ core.kv("breadcrumb", {"@id": core.get_id(sub_pillar_url, 'breadcrumb')}, is_json=true) }}
    {{ core.main_entity_of_page("WebPage", core.get_id(pillar_parent_url, 'webpage')) }}
  {% endcall %},

  {# 2. Sub-Pillar 3-Step Breadcrumb Path #}
  {% call core.entity_base("BreadcrumbList", id=core.get_id(sub_pillar_url, 'breadcrumb')) %}
    , "itemListElement": [
      {{ core.list_item(1, "Home", site_url) }},
      {{ core.list_item(2, pillar_parent_title, pillar_parent_url) }},
      {{ core.list_item(3, sub_pillar_title) }}
    ]
  {% endcall %},

  {# 3. Deep Supporting Sub-Cluster ItemList Registry #}
  {% call core.entity_base("ItemList", id=core.get_id(sub_pillar_url, 'sub-cluster-list'), name=sub_pillar_title ~ " Deep Supporting Silo Cluster", description="Granular child guides managed under this specialized sub-pillar.") %}
    {{ core.kv("numberOfItems", sub_cluster_pages | length) }}
    , "itemListElement": [
      {% for sub_page in sub_cluster_pages %}
      {
        "@type": "ListItem",
        "position": {{ loop.index }},
        "name": {{ sub_page.title | tojson }},
        "item": {{ sub_page.url | tojson }}
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  {% endcall %}
{% endcall %}


Page 12 (Cluster Page Supporting Guide)

{% import 'macros/schema_core.html' as core %}

{% call core.graph_wrapper() %}
  {# 1. WebPage Core Block #}
  {% call core.entity_base("WebPage", id=core.get_id(cluster_url, 'webpage'), name=cluster_title, description=cluster_meta_description, url=cluster_url) %}
    {{ core.is_part_of("WebSite", core.get_id(site_url, 'website')) }}
    {{ core.kv("breadcrumb", {"@id": core.get_id(cluster_url, 'breadcrumb')}, is_json=true) }}
    {{ core.main_entity_of_page("WebPage", core.get_id(pillar_parent_url, 'webpage')) }}
  {% endcall %},

  {# 2. Cluster Breadcrumb Path #}
  {% call core.entity_base("BreadcrumbList", id=core.get_id(cluster_url, 'breadcrumb')) %}
    , "itemListElement": [
      {{ core.list_item(1, "Home", site_url) }},
      {{ core.list_item(2, pillar_parent_title, pillar_parent_url) }},
      {{ core.list_item(3, cluster_title) }}
    ]
  {% endcall %}
{% endcall %}


Page 13 (Sub-Cluster Page)
{% import 'macros/schema_core.html' as core %}

{% call core.graph_wrapper() %}
  {# 1. WebPage Core Block #}
  {% call core.entity_base("WebPage", id=core.get_id(sub_cluster_url, 'webpage'), name=sub_cluster_title, description=sub_cluster_meta_description, url=sub_cluster_url) %}
    {{ core.is_part_of("WebSite", core.get_id(site_url, 'website')) }}
    {{ core.kv("breadcrumb", {"@id": core.get_id(sub_cluster_url, 'breadcrumb')}, is_json=true) }}
    {{ core.main_entity_of_page("WebPage", core.get_id(cluster_parent_url, 'webpage')) }}
  {% endcall %},

  {# 2. 4-Step Structural Breadcrumb Chain #}
  {% call core.entity_base("BreadcrumbList", id=core.get_id(sub_cluster_url, 'breadcrumb')) %}
    , "itemListElement": [
      {{ core.list_item(1, "Home", site_url) }},
      {{ core.list_item(2, pillar_root_title, pillar_root_url) }},
      {{ core.list_item(3, cluster_parent_title, cluster_parent_url) }},
      {{ core.list_item(4, sub_cluster_title) }}
    ]
  {% endcall %}
{% endcall %}




