to test it



{% macro full_url(home_url, path=none) -%}
  {%- set home = home_url.strip().rstrip('/') -%}
  {%- set p_path = path.strip().strip('/') if path and path.strip() else '' -%}
  {{- home ~ '/' ~ p_path if p_path else home -}}
{%- endmacro %}
  




















{% macro get_id(url, anchor) %}
  {{ url.rstrip('/') }}/#{{ anchor }}
{% endmacro %}

{% macro graph_wrapper() %}
  <script type="application/ld+json">
    {"@context": "https://schema.org",
    "@graph": [ 
    {{ caller() }} 
    ]}
  </script>
{% endmacro %}






 


{% macro kv(key, value, is_json=false) %}
  {%- if not is_json and value is string -%}
  "{{ key }}": {{ value | tojson }}
  {%- else -%}
  "{{ key }}": {{ value }}
  {%- endif -%}
{% endmacro %}

{% macro object_base(props=[]) %}
{ {{ props | select('defined') | join(',\n  ') }} }
{% endmacro %}

{% macro entity_base(type, id="", name="", description="", url="", props=[]) %}
{"@type": "{{ type }}"
  {%- if id %}, "@id": {{ id | tojson }}{% endif -%}
  {%- if name %}, "name": {{ name | tojson }}{% endif -%}
  {%- if description %}, "description": {{ description | tojson }}{% endif -%}
  {%- if url %}, "url": {{ url | tojson }}{% endif -%}
  {%- if props | length > 0 %},\n  {{ props | select('defined') | join(',\n  ') }}{% endif -%}
}{% endmacro %}


{% macro address(street, city, region, zip, country) %}
, "address": {{ object_base([
    kv("streetAddress", street) if street else none,
    kv("addressLocality", city) if city else none,
    kv("addressRegion", region) if region else none,
    kv("postalCode", zip) if zip else none,
    kv("addressCountry", country) if country else none
  ]) }}
{% endmacro %}

{% macro contact_point(phone, areaServed, email, lang=["en"]) %}
, "contactPoint": [{{ object_base([
    kv("contactType", "customer service"),
    kv("telephone", phone) if phone else none,
    kv("areaServed", areaServed) if areaServed else none,
    kv("email", email) if email else none,
    kv("availableLanguage", lang, is_json=true)
  ]) }}]
{% endmacro %}

{% macro image_object(url,width, height ,desc="") %}
, "image": {{ object_base([
    kv("url", url),
    kv("width", width, is_json=true) if width else none,
    kv("height", height, is_json=true) if height else none,
    kv("caption", desc) if desc else none
  ]) }}
{% endmacro %}

{% macro search_object(url) %}
, "potentialAction": {{ object_base([
    kv("type", "SearchAction"),
    kv("target", object_base([
      kv("type", "EntryPoint"),
      kv("urlTemplate", url ~ "/search?q={search_term_string}")
    ]), is_json=true),
    kv("query-input", "required name=search_term_string")
  ]) }}
{% endmacro %}







{% macro is_part_of(id) %}
, "isPartOf": {{ object_base([kv("id", id)]) }}
{% endmacro %}

{% macro about(id) %}
, "about": {{ object_base([kv("id", id)]) }}
{% endmacro %}

{% macro publisher(id) %}
, "publisher": {{ object_base([kv("id", id)]) }}
{% endmacro %}

{% macro main_entity_of_page(id) %}
, "mainEntityOfPage": {{ object_base([kv("id", id)]) }}
{% endmacro %}
