<!DOCTYPE html>
<html lang="en"><head><meta charset="UTF-8">
<title>{{ page_title }}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/DKworkspaces/Xocu@main/css/mgr/0.1/base.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/DKworkspaces/Xocu@main/css/mgr/0.1/footer.css" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/DKworkspaces/Xocu@main/css/mgr/0.1/footer.css"></noscript>
<script src="https://cdn.jsdelivr.net/gh/DKworkspaces/Xocu@main/js/mgr/0.1/common.js" defer></script>
</head><body>
{% include 'temp/header.html' %}
{% block layout_container %}
{% endblock %}
{% include 'temp/footer.html' %}
</body></html>
