{% import 'macro/_header.html' as comp with context %}
<header class="sh">{{ comp.r_svg() }}<nav class="nc" aria-label="Main Navigation"><div class="nl"><a href="/" class="ll">{{ site_config.logo }}</a></div>
<!-- Hidden Master Hamburger Toggle State Box -->
<input type="checkbox" id="h-mts" class="v-h h-mt" aria-hidden="true"><!-- Label wrapper element acting as the visible interactive hamburger button --><label for="h-mts" class="mt" id="h-mtb" aria-label="Toggle navigation menu"><span class="hb"><span class="hi"></span></span></label>
<!-- Nav Container Wrapper Drawer Sits Exactly Next To Checkbox Elements -->
<div class="nw" id="h-nd">
<ul class="lk">
{% for item in site_config.menus %}
{% if item.type == "megamenu" %}{{ comp.r_mega(site_config,item) }}
{% elif item.type == "dropdown" %}{{ comp.r_dropdown(site_config,item) }}
{% elif item.type == "select" %}{{ comp.r_mode(item) }}
{% elif item.type == "search" %}{{ comp.r_search() }}
{% else %}<li><a class="li" href="{{ site_config.home_url }}{{ item.url }}">{{ item.title }}</a></li>
{% endif %}
{% endfor %}
</ul></div></nav></header>
