<!DOCTYPE html>
<html lang="en"><head><meta charset="UTF-8">
<title>{{ page_title }}</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/DKworkspaces/Xocu/blob/main/css/mgr/0.1/base.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/DKworkspaces/Xocu/blob/main/css/mgr/0.1/footer.css" media="print" onload="this.media='all'">
<noscript><link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/DKworkspaces/Xocu/blob/main/css/mgr/0.1/footer.css"></noscript>
<script src="https://cdn.jsdelivr.net/gh/DKworkspaces/Xocu/blob/main/js/mgr/0.1/common.js" defer></script>
</head><body>
{% include 'temp/header.html' %}  
<main>
<h2>Welcome to home page</h2>
<p>Your web content goes here.</p>
</main>
{% include 'temp/footer.html' %}
</body></html>
