{% from 'macro/_header_seo.html' import PageSchema with context %}

{% set page_data = {
    'ishome':'true',
    'title': site_config.name ~ " " ~ site_config.separator ~ " Home",
    'desc': "Leading resource for enterprise-grade Flask architectures.",
    'robots': "index, follow, max-image-preview:large",
    'canonical_url': site_config.home_Url,
      'datePublished': site_config.launch_date,
      'dateModified': "2026-07-20",
    'about': { "@id": site_config.home_Url ~ '/#organization'  ,"@type": "Organization"}
    ,'social': {'title': site_config.name ~ " " ~ site_config.separator ~ " Home"}
} %}
{% extends "_base.html" %}
{% block page_schema %}
{{ PageSchema(site_config.home_Url,'WebPage', page_data, site_config) }}
{% endblock %}
{% block content %} Welcome Home{% endblock %}
