{% from 'macro/_header_seo.html' import PageSchema with context %}

{%- set header = 
{
  "logo": "Xocumentary",
  "menus":[
  {"type": "search"},
  {"title":"Categories","type":"megamenu","categories":[
      {"cat_title": "By Region","links": [{"title": "Indo-Pacific","url": "#"},{"title": "Eruope & Eurasia","url": "#"},{"title": "MiddleEast & Africa","url": "#"},{"title": "The Americas","url": "#"}]},
      {"cat_title": "By Subject","links": [{"title": "Geopolitics","url": "#"},{"title": "History","url": "#"},{"title": "Science","url": "#"}]}
  ]},
  {"type": "select","children": [{"title": "System Mode","val": "system"},{"title": "Light Mode","val": "light"},{"title": "Dark Mode","val": "dark"}]},
  {"title":"About Us","url":"#","type":"standard"},
  {"title":"Contact Us","url":"#","type":"standard"}
] 
} -%}

{%- set footer ={
  "year": "2026",
  "links": [{"title": "Sitemap","url": "#"},{"title": "Privacy Policy","url": "#"},{"title": "Terms of Use","url": "#"}],
  "columns":[
    {"title":"Explore Content","id":"f-t1","link_id":"m1","links": [
        {"title":"Latest Release","url":"#"},{"title":"Most Popular Archives","url":"#"},{"title":"RSS Feed","url":"#"},{"title":"Interactive Maps/Timeline","url":"#"}]},
    {"title":"Browse","id":"f-t2","link_id":"m2","links": [
        {"title":"All Topics Index","url":"#"},{"title":"Categories Index","url":"#"},{"title":"Indo-pacific","url":"#"},{"title":"Europe & Eurasia","url":"#"},{"title":"MiddleEast & Africa","url":"#"},{"title":"The Americas","url":"#"}]},
    {"title":"Connect & Follow","id":"f-t3","link_id":"m3","links": [
        {"title":"Youtube Channel","url":"#"},{"title":"Dailymotion Channel","url":"#"},{"title":"Facebook Page","url":"#"}]},
    {"title":"Legal & Compliance","id":"f-t4","link_id":"m4","links": [
        {"title":"Editorial Policy","url":"#"},{"title":"Affiliate & Ad Disclosure","url":"#"},{"title":"Fact Checking Policy","url":"#"}]}
    ]}
-%}


{%- set org_website_schema ={
"home_url":"https://dkworkspaces.github.io/Webgen",
"image_base_url":"https://mysite.com",
"name":"Xocumentary",
"org_name":"Xocumentary Media",
"org_desc":"about organization",
"title": "Home",
"desc": "Leading global provider of innovative logistics and cloud services.",
"robots": "noindex,nofollow",
"twitter_site": "@xocumentary",
"img": {"url":"/ass/brnd/logo.png" ,"width": 1200,"height": 630,"desc":"this is brand logo"},
"icon": {"favicon_svg":"/ass/brnd/favicon.svg","favicon_ico":"/ass/brnd/favicon.ico","apple_touch":"/ass/brnd/apple-touch-icon.png"},
"social_links": ["https://facebook.com/Xocu", "https://linkedin.com/Xocu", "https://x.com/xocu"],
"contact": {"availableLanguage": "English","areaServed": "Worldwide","support_email": "support@example.com","phone": "+1-555-0199"},
"address": {"street": "1600 Amphitheatre Parkway","city": "Mountain View","region": "CA","zip": "94043","country": "USA"},
"per_page": 10,
"separator":"|","css_js_url":"https://css.com"
}
-%}

{%- set global = namespace(data = {}, pg_data={}) -%}

{# Merge sequentially using the update dictionary method wrapped in a dummy set execution #}
{%- set _ = global.data.update(header) -%}
{%- set _ = global.data.update(footer) -%}
{%- set _ = global.data.update(org_website_schema) -%}




{%- set pae_data = {
    'ishome':'true',
    'title': site_config.name ~ " " ~ site_config.separator ~ " Home",
    'desc': "Leading resource for enterprise-grade Flask architectures.",
    'robots': "index, follow, max-image-preview:large",
    'path': "/",
      'datePublished': site_config.launch_date,
      'dateModified': "2026-07-20",
    'about': { "@id": site_config.home_url ~ '/#organization'  ,"@type": "Organization"}
    ,'social': {'title': site_config.name ~ " " ~ site_config.separator ~ " Home"}
} -%}

{%- set _ = global.pg_data.update(pae_data) %}


{%- set site_config = global.data  -%}
{%- set page_data = global.pg_data  -%}

{%- set css_base = "{{ site_config.css_js_url }}css/mgr/0.1/" -%}
{%- set js_base = "{{ site_config.css,_js_url }}js/mgr/0.1/" -%}


{%- extends "_base.html" -%}
{%- block page_schema -%}
{{ PageSchema(site_config.home_url,'WebPage', page_data=page_data, site_config=site_config) }}
{%- endblock -%}
{%- block content -%} Welcome Home{% endblock -%}
