
{% set raw_json_list %}
[
  {"category": "History", "title": "10.0.0.1 hosted","url":"host/10.0.0.1/", "snippet": "this is active connection"},
  {"category": "Geopolitics", "title": "10.0.0.2 hosted","url":"host/10.0.0.2/", "snippet": "this is inactive connection"},
  {"category": "Science", "title": "10.0.0.3 hosted","url":"host/10.0.0.3/", "snippet": "this is highly active connection"}
]
{% endset %}

{# 2. Parse the string into a loopable Jinja list #}
{% set results = raw_json_list | from_json %}

{% set query = "testing" %}
{% set seach_url = "/search?q="{{ query }}" %}
{% set execution_time= "0.02" %}


{% include '_searchresult.html' %}  
